<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <add key ="SJSPageCount" value="3"/>
    <add key ="SJS1" value="http://nsfl.jcink.net/index.php?showforum=51"/>
    <add key ="SJS2" value="http://nsfl.jcink.net/index.php?showforum=51&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="SJS3" value="http://nsfl.jcink.net/index.php?showforum=51&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>


    <add key="BHPageCount" value="2"/>
    <add key ="BH1" value="http://nsfl.jcink.net/index.php?showforum=69"/>
    <add key ="BH2" value="http://nsfl.jcink.net/index.php?showforum=69&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="BH3" value="http://nsfl.jcink.net/index.php?showforum=69&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>


    <add key="CYPageCount" value="2"/>
    <add key ="CY1" value="http://nsfl.jcink.net/index.php?showforum=55"/>
    <add key ="CY2" value="http://nsfl.jcink.net/index.php?showforum=55&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="CY3" value="http://nsfl.jcink.net/index.php?showforum=55&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <add key="PLPageCount" value="2"/>
    <add key ="PL1" value="http://nsfl.jcink.net/index.php?showforum=110"/>
    <add key ="PL2" value="http://nsfl.jcink.net/index.php?showforum=110&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="PL3" value="http://nsfl.jcink.net/index.php?showforum=110&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    
    <add key="YWPageCount" value="2"/>
    <add key ="YW1" value="http://nsfl.jcink.net/index.php?showforum=57"/>
    <add key ="YW2" value="http://nsfl.jcink.net/index.php?showforum=57&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="YW3" value="http://nsfl.jcink.net/index.php?showforum=57&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>


    <add key="AOPageCount" value="2"/>
    <add key ="AO1" value="http://nsfl.jcink.net/index.php?showforum=72"/>
    <add key ="AO2" value="http://nsfl.jcink.net/index.php?showforum=72&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="AO3" value="http://nsfl.jcink.net/index.php?showforum=72&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>

    <add key="LVLPageCount" value="2"/>
    <add key ="LVL1" value="http://nsfl.jcink.net/index.php?showforum=113"/>
    <add key ="LVL2" value="http://nsfl.jcink.net/index.php?showforum=113&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="LVL3" value="http://nsfl.jcink.net/index.php?showforum=113&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>


    <add key="OCOPageCount" value="2"/>
    <add key ="OCO1" value="http://nsfl.jcink.net/index.php?showforum=53"/>
    <add key ="OCO2" value="http://nsfl.jcink.net/index.php?showforum=53&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=15"/>
    <add key ="OCO3" value="http://nsfl.jcink.net/index.php?showforum=53&amp;prune_day=100&amp;sort_by=Z-A&amp;sort_key=last_post&amp;st=30"/>



    <add key ="PlayerNodes" value="//tr[@class='topic-row']/td[@class='row4']/a"/>
    <add key ="TPENodes" value="//tr[@class='topic-row']/td[@class='row4']/span[@class='desc']"/>
    <add key ="PlayerURL" value="//tr[@class='topic-row']/td[@class='row4']/a[@href]"/>

    <add key="LocalPath" value="C:\Users\hshea\Desktop\NSFL\Output\"/>
    
  </appSettings>
</configuration>